<div class="tile">
  <h1><img src="assets/images/schedule.png" alt="Schedules" width="25px" height="25px"> Schedules</h1>

  <div *ngIf="!loaded">
    <p>
      Loading your schedules...
    </p>
  </div>

  <div *ngIf="loaded && createRecurringScheduleVisible === false && createOneTimeScheduleVisible === false">
    <div>
      <label>
        <input type="radio" name="radioGroup" value="recurring" [(ngModel)]="selectedOption" checked>Recurring
      </label>

      <label>
        <input type="radio" name="radioGroup" value="one-time" [(ngModel)]="selectedOption">One-time
      </label>
    </div>
  </div>

  <div *ngIf="loaded && listSchedulesVisible && selectedOption === 'recurring'">
    <p *ngIf="recurringScheduleRows.length === 0 && recurringScheduleEddiRows.length === 0 && recurringScheduleLibbiRows.length === 0">
      You have no schedules. Create a new schedule below.
    </p>

    <h2 *ngIf="hubDetails.eddiSerialNumber !== null && recurringScheduleRows.length > 0"><img class="iconButtonImage" src="assets/images/car.png" alt="Zappi"> Zappi Schedules</h2>

    <table id="scheduleTable" *ngIf="recurringScheduleRows.length > 0" class="scheduleTable">
      <thead>
        <tr>
          <th>Time</th>
          <th>Mode</th>
          <th>Repeat</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of recurringScheduleRows; let i = index">
          <td>
            <input type="string" name="time" class="scheduleTime" [(ngModel)]="row.recurrence.timeOfDay" readonly>
          </td>

          <td>
            <input type="text" name="repeat" class="chargeMode" placeholder="Charge Mode"
              [ngModel]="convertChargeMode(row.action.value)" readonly>
          </td>
          <td>
            <input type="text" name="repeat" class="repeatDays" [ngModel]="calculateDisplayString(row)" readonly>
          </td>
          <td>
            <button type="button" class="destructiveButton" (click)="deleteSchedule(row)"><img class="iconButtonImage" src="assets/images/delete.png" alt="Schedules"></button>
          </td>
        </tr>
      </tbody>

    </table>

    <h2 *ngIf="recurringScheduleEddiRows.length > 0"><img class="iconButtonImage" src="assets/images/heater.png" alt="Eddi"> Eddi Schedules</h2>

    <table id="scheduleTable" *ngIf="recurringScheduleEddiRows.length > 0" class="scheduleTable">
      <thead>
        <tr>
          <th>Time</th>
          <th>Mode</th>
          <th>Repeat</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of recurringScheduleEddiRows; let i = index">
          <td>
            <input type="string" name="time" class="scheduleTime" [(ngModel)]="row.recurrence.timeOfDay" readonly>
          </td>

          <td>
            <input type="text" name="repeat" class="chargeMode" placeholder="Mode"
              [ngModel]="convertEddiMode(row.action.value)" readonly>
          </td>
          <td>
            <input type="text" name="repeat" class="repeatDays" [ngModel]="calculateDisplayString(row)" readonly>
          </td>
          <td>
            <button type="button" class="destructiveButton" (click)="deleteSchedule(row)"><img class="iconButtonImage" src="assets/images/delete.png" alt="Schedules"></button>
          </td>
        </tr>
      </tbody>

    </table>

    <h2 *ngIf="recurringScheduleLibbiRows.length > 0"><img class="iconButtonImage" src="assets/images/batteryFull.png" alt="Libbi"> Libbi Schedules</h2>

    <table id="scheduleTable" *ngIf="recurringScheduleLibbiRows.length > 0" class="scheduleTable">
      <thead>
        <tr>
          <th>Time</th>
          <th>Type</th>
          <th>Mode</th>
          <th>Repeat</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of recurringScheduleLibbiRows; let i = index">
          <td>
            <input type="string" name="time" class="scheduleTime" [(ngModel)]="row.recurrence.timeOfDay" readonly>
          </td>
          <td>
            <input type="text" name="time" class="scheduleType" [ngModel]="convertScheduleType(row)" readonly>
          </td>

          <td>
            <input type="text" name="repeat" class="chargeMode" placeholder="Mode"
              [ngModel]="convertLibbiChargeFromGrid(row.action.value)" readonly>
          </td>
          <td>
            <div class="days-of-week">
              <button *ngFor="let day of daysOfWeek" class="toggleButton" [ngClass]="{ selected: isDaySet(row.recurrence.daysOfWeek, day)}"
                  disabled="true">
                  {{ day[0] }}
              </button>
          </div>
          </td>

          <td>
            <button type="button" class="destructiveButton" (click)="deleteSchedule(row)"><img class="iconButtonImage" src="assets/images/delete.png" alt="Schedules"></button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div *ngIf="loaded && listSchedulesVisible && selectedOption === 'one-time'">
    <p *ngIf="oneTimeScheduleRows.length === 0 && oneTimeScheduleEddiRows.length === 0 && oneTimeScheduleLibbiRows.length === 0">
      You have no schedules. Create a new schedule below.
    </p>

    <h2 *ngIf="oneTimeScheduleRows.length > 0 && hubDetails.eddiSerialNumber !== null"><img class="iconButtonImage" src="assets/images/car.png" alt="Zappi"> Zappi Schedules</h2>
    <table id="scheduleTable" *ngIf="oneTimeScheduleRows.length > 0" class="scheduleTable">
      <thead>
        <tr>
          <th>Start Date & Time</th>
          <th>Type</th>
          <th>Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of oneTimeScheduleRows; let i = index">
          <td>
            <input type="text" name="time" class="scheduleDateTime" [ngModel]="convertDateTime(row.startDateTime)" readonly>
          </td>
          <td>
            <input type="text" name="time" class="scheduleType" [ngModel]="convertScheduleType(row)" readonly>
          </td>
          <td>
            <input type="text" name="repeat" class="chargeMode" placeholder="Charge Mode"
              [ngModel]="convertOneTimeScheduleValue(row)" readonly>
          </td>
          <td>
            <button type="button" class="destructiveButton" (click)="deleteSchedule(row)"><img class="iconButtonImage" src="assets/images/delete.png" alt="Schedules"></button>
          </td>
        </tr>
      </tbody>

    </table>

    <h2 *ngIf="oneTimeScheduleEddiRows.length > 0"><img class="iconButtonImage" src="assets/images/heater.png" alt="Eddi"> Eddi Schedules</h2>
    <table id="scheduleTable" *ngIf="oneTimeScheduleEddiRows.length > 0" class="scheduleTable">
      <thead>
        <tr>
          <th>Start Date & Time</th>
          <th>Type</th>
          <th>Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of oneTimeScheduleEddiRows; let i = index">
          <td>
            <input type="text" name="time" class="scheduleDateTime" [ngModel]="convertDateTime(row.startDateTime)" readonly>
          </td>
          <td>
            <input type="text" name="time" class="scheduleType" [ngModel]="convertScheduleType(row)" readonly>
          </td>
          <td>
            <input type="text" name="repeat" class="chargeMode" placeholder="Charge Mode"
              [ngModel]="convertOneTimeScheduleValue(row)" readonly>
          </td>
          <td>
            <button type="button" class="destructiveButton" (click)="deleteSchedule(row)"><img class="iconButtonImage" src="assets/images/delete.png" alt="Delete"></button>
          </td>
        </tr>
      </tbody>

    </table>


    <h2 *ngIf="oneTimeScheduleLibbiRows.length > 0"><img class="iconButtonImage" src="assets/images/batteryFull.png" alt="Libbi"> Libbi Schedules</h2>
    <table id="scheduleTable" *ngIf="oneTimeScheduleLibbiRows.length > 0" class="scheduleTable">
      <thead>
        <tr>
          <th>Start Date & Time</th>
          <th>Type</th>
          <th>Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of oneTimeScheduleLibbiRows; let i = index">
          <td>
            <input type="text" name="time" class="scheduleDateTime" [ngModel]="convertDateTime(row.startDateTime)" readonly>
          </td>
          <td>
            <input type="text" name="time" class="scheduleType" [ngModel]="convertScheduleType(row)" readonly>
          </td>
          <td>
            <input type="text" name="repeat" class="chargeMode" placeholder="Charge Mode"
              [ngModel]="convertOneTimeScheduleValue(row)" readonly>
          </td>
          <td>
            <button type="button" class="destructiveButton" (click)="deleteSchedule(row)"><img class="iconButtonImage" src="assets/images/delete.png" alt="Delete"></button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>



  <div>
    <button type="submit" *ngIf="listSchedulesVisible" class="confirmButton"
      (click)="createSchedule()"><img src="assets/images/add.png" alt="Schedules" width="25px" height="25px"></button>
  </div>
  <!-- Content for Recurring -->
  <div *ngIf="createRecurringScheduleVisible">
    <app-create-recurring-schedule-panel [bearerToken]="bearerToken" [hubDetails]="hubDetails"
      (viewListSchedulesScreen)="viewListSchedulesScreen()"></app-create-recurring-schedule-panel>
  </div>

  <div *ngIf="createOneTimeScheduleVisible">
    <app-create-onetime-schedule-panel [bearerToken]="bearerToken" [hubDetails]="hubDetails"
      (viewListSchedulesScreen)="viewListSchedulesScreen()"></app-create-onetime-schedule-panel>
  </div>
</div>