<div class="schedulePanel">
    <h1>Schedules</h1>

    <div *ngIf="selectedOption === 'none' && !loaded">
        <p>
            Loading your schedules...
        </p>
    </div>

    <div *ngIf="selectedOption === 'none' && loaded">
        <p *ngIf="scheduleRows.length === 0">
            You have no schedules. Create a new schedule below.
        </p>


        <table id="scheduleTable" *ngIf="scheduleRows.length > 0" class="scheduleTable">
            <thead>
            <tr>
                <th>Time</th>
                <th>Charge Mode</th>
                <th>Repeat</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of scheduleRows; let i = index">
                  <td>
                    <input type="string" name="time" class="scheduleTime" [(ngModel)]="row.recurrence.timeOfDay" readonly>
                  </td>
                  
                  <td>
                    <input type="text" name="repeat" class="chargeMode" placeholder="Charge Mode" [ngModel]="convertChargeMode(row.action.value)" readonly>
                  </td>
                  <td>
                    <input type="text" name="repeat" class="repeatDays" [ngModel]="calculateDisplayString(row)" readonly>
                  </td>
                  <td>
                    <button type="button" class="deleteButton" (click)="deleteSchedule(row)">Delete</button>
                  </td>
                </tr>
              </tbody>
              
        </table>
        
    </div>
    <div>
        <button *ngIf="selectedOption === 'none'" type="submit" class="saveScheduleButton" (click)="createRecurringSchedule()">New Schedule</button>
    </div>
    <!-- Content for Recurring -->
    <div *ngIf="selectedOption === 'recurring'">
        <app-create-recurring-schedule-panel [bearerToken]="bearerToken" (viewListSchedulesScreen)="viewListSchedulesScreen()"></app-create-recurring-schedule-panel>
    </div>
</div>