input[type="string"] {
    width: 60px;
}

.repeatDays {
    width: 280px;
}

.scheduleType {
    width: 170px;
}

.scheduleDateTime {
    width: 130px;
}

.chargeMode {
    width: 80px;
}

@media (max-width: 768px) {
    input[type="string"] {
        width: 40px;
    }

    .repeatDays {
        width: 285px;
    }
    
    .scheduleType {
        width: 140px;
    }
    
    .scheduleDateTime {
        width: 110px;
    }
    
    .chargeMode {
        width: 65px;
    }

    .repeatDays {
        width: 200px;
    }

    .chargeMode {
        width: 55px;
    }
}

.toggleButton:disabled {   
    border: 1px solid #ccc;
    cursor: not-allowed; /* Correct cursor for disabled buttons */
    font-size: 16px;
    padding: 5px;
    width: 30px;
    text-align: center;
    background-color: lightgray; /* Optional: default background for disabled */
    color: gray; /* Optional: default color for disabled */
}

/* Styles for selected and disabled buttons */
.toggleButton.selected:disabled {
    font-weight: bold;
    background-color: #64a0ff;
    color: white;
    border-color: #333;
}