.toggleButton {
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    width: 70px;
    text-align: center;
    margin-right: 5px;
}

.errorMessage {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f8d7da;
    color: #721c24;
}

.myenergiInputPanel {
    margin-bottom: 10px;
}

.myenergiEmailInput {
    float: right;
    width: 300px;
}
