/* You can add global styles to this file, and also import other style files */
body {
    background-color: #077ed5;
    color: white;
    font-family: Arial, sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.logo {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

.container {
    text-align: center;
    margin-top: 30px;
}

.scheduleButton {
    background-color: #b8b8b8;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.destructiveButton {
    background-color: #ff6f6f;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.destructiveButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

input {
    padding: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.toggleButton {
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    text-align: center;
}

.toggleButton.selected {
    font-weight: bold;
    background-color: #64a0ff;
    color: white;
    border-color: #333;
}

.tile {
    background-color: #246ab1;
    padding: 10px;
    margin: 0 auto;
    min-width: 600px;
    max-width: 600px;
    margin-bottom: 5px;
}

.iconButtonImage {
    width: 25px;
    height: 25px;
}

.headerIconImage {
    width: 25px;
    height: 25px;
}

.deviceTile {
    background-color: #3672af;
    padding: 10px;
    margin: 0 auto;
    min-width: 575px;
    max-width: 575px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .tile {
        background-color: #246ab1;
        padding: 10px;
        margin: 0 auto;
        min-width: auto;
        max-width: auto;
    }
}

