<div>
    <div *ngIf="hasMultipleDeviceClasses()">
        <h3>Device Type</h3>
        <div>
            <label *ngIf="hasDevice('ZAPPI')">
                <input type="radio" name="radioGroup" value="zappi" [(ngModel)]="targetDeviceClass" (click)="zappiSelected()"
                    checked>
                    <!-- <img class="headerIconImage" src="assets/images/car.png" alt="Zappi">  -->
                    Zappi
            </label>

            <label *ngIf="hasDevice('EDDI')">
                <input type="radio" name="radioGroup" value="eddi" [(ngModel)]="targetDeviceClass" (click)="eddiSelected()">
                <!-- <img class="headerIconImage" src="assets/images/heater.png" alt="Eddi">  -->
                Eddi
            </label>

            <label *ngIf="hasDevice('LIBBI')">
                <input type="radio" name="radioGroup" value="libbi" [(ngModel)]="targetDeviceClass" (click)="libbiSelected()">
                <!-- <img class="headerIconImage" src="assets/images/batteryFull.png" alt="Libbi">  -->
                Libbi
            </label>
        </div>
        <div *ngIf="getDevices(targetDeviceClass).length > 1">
            Target Device: <select [(ngModel)]="targetSerialNumber">
                <option *ngFor="let serialNumber of getSerialNumbers()">{{ serialNumber }}</option>
            </select>
        </div>
    </div>

    <h3>Schedule Type</h3>
    <mat-button-toggle-group [(ngModel)]="selectedScheduleOption">
        <mat-button-toggle value="recurring"><img class="headerIconImage" src="assets/images/recurringScheduleBlack.png" alt="Recurring schedule">Recurring</mat-button-toggle>
        <mat-button-toggle value="one-time"><img class="headerIconImage" src="assets/images/scheduleBlack.png" alt="One-time schedule">One-time</mat-button-toggle>
    </mat-button-toggle-group>
    
    
    <h3>Schedule Details</h3>
    <div *ngIf="selectedScheduleOption === 'one-time'">
        Schedule time: <input type="datetime-local" [(ngModel)]="startDateTime" />
    </div>
    <div *ngIf="selectedScheduleOption === 'recurring'">
        Starting at time: <input type="time" [(ngModel)]="recurringTime" />
        <br>
        Repeat on: <div class="days-of-week">
            <button *ngFor="let day of daysOfWeek" class="toggleButton" [ngClass]="{ selected: selectedDays[day] }"
                (click)="toggleDay(day)">
                {{ day[0] }}
            </button>
        </div>
    </div>
    <!-- Schedule time: <input type="datetime-local" [(ngModel)]="startDateTime" /> -->
    <br>
    <h3>Schedule Action</h3>
    <div>
        Schedule type: <select [(ngModel)]="scheduleType" (change)="onScheduleTypeChange()">
            <option *ngFor="let option of options" [ngValue]="option.value">{{ option.label }}</option>
          </select>
        <br>
        <div *ngIf="scheduleType === 'setBoostKwh'">
            Value: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="99" />
        </div>

        <div *ngIf="scheduleType === 'setBoostFor'">
            Value: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="10" />
        </div>

        <div *ngIf="scheduleType === 'setSmartBoost'">
            Kilowatt hours: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="99" />
            Finish charging by: <input [(ngModel)]="smartBoostTime" type="time" />
        </div>

        <div *ngIf="scheduleType === 'setBoostUntil'">
            Value: <input [(ngModel)]="scheduleActionValue" type="time" />
        </div>

        <div *ngIf="scheduleType === 'setChargeMode'">
            Value:
            <select [(ngModel)]="scheduleActionValue" class="chargeModeSelect">
                <option value="ECO">Eco</option>
                <option value="ECO_PLUS">Eco+</option>
                <option value="STOP">Stop</option>
                <option value="FAST">Fast</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setEddiMode'">
            Value:
            <select [(ngModel)]="scheduleActionValue" class="eddiModeSelect">
                <option value="STOPPED">Stopped</option>
                <option value="NORMAL">Normal</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setEddiBoostFor'">
            Value: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="99" />
            <br>
            Tank: <select [(ngModel)]="selectedTank">
                <option *ngFor="let tank of eddiTanks">{{ tank }}</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setLibbiEnabled'">
            Value:
            <select [(ngModel)]="scheduleActionValue" class="eddiModeSelect">
                <option value="true">On</option>
                <option value="false">Off</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setLibbiChargeFromGrid'">
            Value:
            <select [(ngModel)]="scheduleActionValue" class="eddiModeSelect">
                <option value="true">On</option>
                <option value="false">Off</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setLibbiChargeTarget'">
            Value:
            <mat-slider
                class="example-margin">
                <input matSliderThumb [(ngModel)]="scheduleActionValue" #slider>
            </mat-slider>
            <label class="example-value-label">{{scheduleActionValue}}%</label>
        </div>
    </div>

    <br>
    <div>
        <button type="submit" class="confirmButton" [disabled]="saveButtonDisabled  || !isScheduleValid()" (click)="saveSchedule()">Create Schedule</button>
    </div>
    <div>
        <button type="cancel" class="destructiveButton" [style.display]="cancelButtonVisible ? 'block' : 'none'" (click)="cancel()">Cancel</button>
    </div>
</div>