<div>
    <div *ngIf="hasMultipleDeviceClasses()">
        <div>
            <label *ngIf="hasDevice('ZAPPI')">
                <input type="radio" name="radioGroup" value="zappi" [(ngModel)]="targetDeviceClass" (click)="zappiSelected()"
                    checked>Zappi
            </label>

            <label *ngIf="hasDevice('EDDI')">
                <input type="radio" name="radioGroup" value="eddi" [(ngModel)]="targetDeviceClass" (click)="eddiSelected()">Eddi
            </label>
        </div>
    </div>
    <div *ngIf="getDevices(targetDeviceClass).length > 1">
        Target Device: {{getDevices(targetDeviceClass)}} <select [(ngModel)]="targetSerialNumber">
            <option *ngFor="let serialNumber of getSerialNumbers()">{{ serialNumber }}</option>
        </select>
    </div>
    <div>
        Schedule time: <input type="datetime-local" [(ngModel)]="startDateTime" />
        <br>
        Schedule type: <select [(ngModel)]="scheduleType" (change)="onScheduleTypeChange()">
            <option *ngFor="let option of options" [ngValue]="option.value">{{ option.label }}</option>
          </select>
        <br>
        <div *ngIf="scheduleType === 'setBoostKwh'">
            Value: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="99" />
        </div>

        <div *ngIf="scheduleType === 'setBoostFor'">
            Value: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="10" />
        </div>

        <div *ngIf="scheduleType === 'setBoostUntil'">
            Value: <input [(ngModel)]="scheduleActionValue" type="time" />
        </div>

        <div *ngIf="scheduleType === 'setChargeMode'">
            Value:
            <select [(ngModel)]="scheduleActionValue" class="chargeModeSelect">
                <option value="ECO">Eco</option>
                <option value="ECO_PLUS">Eco+</option>
                <option value="STOP">Stop</option>
                <option value="FAST">Fast</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setEddiMode'">
            Value:
            <select [(ngModel)]="scheduleActionValue" class="eddiModeSelect">
                <option value="STOPPED">Stopped</option>
                <option value="NORMAL">Normal</option>
            </select>
        </div>

        <div *ngIf="scheduleType === 'setEddiBoostFor'">
            Value: <input [(ngModel)]="scheduleActionValue" type="number" min="1" max="99" />
            <br>
            Tank: <select [(ngModel)]="selectedTank">
                <option *ngFor="let tank of eddiTanks">{{ tank }}</option>
            </select>
        </div>
    </div>

    <br>
    <div>
        <button type="submit" class="confirmButton" [disabled]="saveButtonDisabled  || !isScheduleValid()" (click)="saveSchedule()">Create Schedule</button>
    </div>
    <div>
        <button type="cancel" class="destructiveButton" [style.display]="cancelButtonVisible ? 'block' : 'none'" (click)="cancel()">Cancel</button>
    </div>
</div>