<header class="floating-header-container">
  <div>
    <!-- Simplified approach -->
    <img src="assets/images/myzappi-icon-floating-bar.png" alt="My Zappi Logo" class="header-logo">
  </div>
  @if (showEnergyCost) {
    <div class="energy-cost-container">
      <span [ngClass]="energyCostClass">{{ costType }}: {{ energyCost }}</span>
    </div>
  }
  @if (!showEnergyCost) {
    <div class="energy-cost-placeholder"></div>
  }
  <div class="logout-container">
    <button (click)="onLogout()" class="logout-button">
      <img src="assets/images/logout.png" alt="Logout" class="logout-icon">
      Logout
    </button>
  </div>
</header>
