<div>
    <div>
        <div>
          <label>
            <input type="radio" name="radioGroup" value="zappi" [(ngModel)]="target" (click)="zappiSelected()" checked>Zappi
          </label>
    
          <label>
            <input type="radio" name="radioGroup" value="eddi" [(ngModel)]="target" (click)="eddiSelected()">Eddi
          </label>
        </div>
      </div>
    <div>
        <div *ngIf="target === 'zappi'">
            Set charge mode to: <select [(ngModel)]="recurringValue">
                <option value="ECO_PLUS">Eco+</option>
                <option value="ECO">Eco</option>
                <option value="FAST">Fast</option>
                <option value="STOP">Stop</option>
            </select>
        </div>

        <div *ngIf="target === 'eddi'">
            Set mode to: <select [(ngModel)]="recurringValue">
                <option value="STOPPED">Stopped</option>
                <option value="NORMAL">Normal</option>
            </select>
        </div>
    
        Starting at time: <input type="time" [(ngModel)]="recurringTime" />
    </div>
    <br>
    Repeat on: <div class="days-of-week">
        <button *ngFor="let day of daysOfWeek" class="toggleButton" [ngClass]="{ selected: selectedDays[day] }" (click)="toggleDay(day)">
            {{ day[0] }}
        </button>
    </div>

    <br>
    <div>
        <button type="submit" class="confirmButton" [disabled]="saveButtonDisabled  || !isScheduleValid()" (click)="saveSchedule()">Create Schedule</button>
    </div>
    <div>
        <button type="cancel" class="destructiveButton" [style.display]="cancelButtonVisible ? 'block' : 'none'" (click)="cancel()">Cancel</button>
    </div>
    
</div>