<div>
    <div *ngIf="hasMultipleDeviceClasses()">
        <div>
            <label *ngIf="hasDevice('ZAPPI')">
                <input type="radio" name="radioGroup" value="zappi" [(ngModel)]="targetDeviceClass" (click)="zappiSelected()"
                    checked>Zappi
            </label>

            <label *ngIf="hasDevice('EDDI')">
                <input type="radio" name="radioGroup" value="eddi" [(ngModel)]="targetDeviceClass" (click)="eddiSelected()">Eddi
            </label>
        </div>
    </div>
    <div *ngIf="getDevices(targetDeviceClass).length > 1">
        Target Device: <select [(ngModel)]="targetSerialNumber">
            <option *ngFor="let serialNumber of getSerialNumbers()">{{ serialNumber }}</option>
        </select>
    </div>
    <div>
        <div *ngIf="targetDeviceClass === 'zappi'">
            Set charge mode to: <select [(ngModel)]="recurringValue">
                <option value="ECO_PLUS">Eco+</option>
                <option value="ECO">Eco</option>
                <option value="FAST">Fast</option>
                <option value="STOP">Stop</option>
            </select>
        </div>

        <div *ngIf="targetDeviceClass === 'eddi'">
            Set mode to: <select [(ngModel)]="recurringValue">
                <option value="STOPPED">Stopped</option>
                <option value="NORMAL">Normal</option>
            </select>
        </div>

        Starting at time: <input type="time" [(ngModel)]="recurringTime" />
    </div>
    <br>
    Repeat on: <div class="days-of-week">
        <button *ngFor="let day of daysOfWeek" class="toggleButton" [ngClass]="{ selected: selectedDays[day] }"
            (click)="toggleDay(day)">
            {{ day[0] }}
        </button>
    </div>

    <br>
    <div>
        <button type="submit" class="confirmButton" [disabled]="saveButtonDisabled  || !isScheduleValid()"
            (click)="saveSchedule()">Create Schedule</button>
    </div>
    <div>
        <button type="cancel" class="destructiveButton" [style.display]="cancelButtonVisible ? 'block' : 'none'"
            (click)="cancel()">Cancel</button>
    </div>

</div>