<div>
    <div>
        Set charge mode to: <select [(ngModel)]="recurringValue">
            <option value="ECO_PLUS">Eco+</option>
            <option value="ECO">Eco</option>
            <option value="FAST">Fast</option>
            <option value="STOP">Stop</option>
        </select>
    
        Starting at time: <input type="time" [(ngModel)]="recurringTime" />
    </div>
    <br>
    Repeat on: <div class="days-of-week">
        <button *ngFor="let day of daysOfWeek" [ngClass]="{ selected: selectedDays[day] }" (click)="toggleDay(day)">
            {{ day[0] }}
        </button>
    </div>

    <br>
    <div>
        <button type="submit" class="saveScheduleButton" [disabled]="saveButtonDisabled  || !isScheduleValid()" (click)="saveSchedule()">Create Schedule</button>
    </div>
    <div>
        <button type="cancel" class="cancelButton" (click)="cancel()">Cancel</button>
    </div>
    
</div>