.scheduleButton {
    border: 1px solid #ccc;
    padding: 3px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

::ng-deep .mat-expansion-panel {
    --mat-expansion-container-background-color: #3f7ab5;
    --mat-expansion-container-text-color: white;
}