.scheduleButton {
    border: 1px solid #ccc;
    padding: 3px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s;
}

.scheduleButton:hover {
    background-color: rgba(63, 122, 181, 0.1);
}