<div *ngIf="registered === false">
    <app-register-panel [bearerToken]="bearerToken" (registeredEvent)="registeredEvent()"></app-register-panel>
</div>


<div *ngIf="hubDetails == null && registered !== false">
    <p>
        Loading your details...
    </p>
</div>

<div *ngIf="registered === true">
    <app-energy-cost-panel [bearerToken]="bearerToken"></app-energy-cost-panel>
    <app-tariff-panel [bearerToken]="bearerToken"></app-tariff-panel>
    <br>
    <app-schedules-panel [bearerToken]="bearerToken"></app-schedules-panel>
    <br>
    <div *ngIf="hubDetails != null">
        <div class="container">
            <div>
                Your Devices:
            </div>
            <br>
            <div>
                hub: {{hubDetails.hubSerialNumber}}
            </div>
            <div>
                zappi: {{hubDetails.zappiSerialNumber}}
            </div>
            <div *ngIf="hubDetails.eddiSerialNumber !== null">
                eddi: {{hubDetails.eddiSerialNumber}}
            </div>
            <br>
            <button (click)="deleteZappi()" id="forgetMyDetailsButton" class="forgetMyDetailsButton">
                Unregister
            </button>
        </div>
    </div>
</div>

<div class="logoutButtonContainer">
    <button (click)="logOut()" class="logOutButton" id="logoutButton">Logout</button>
</div>