<div class="container">
    <button (click)="lwaLogin()" id="LoginWithAmazon" class="loginWithAmazonButton">
        <div class="background-image"></div>
    </button>
    <br>
    <iframe src="https://www.youtube.com/embed/O4uwwfODdfs"
            frameborder="0"
            allowfullscreen></iframe>

    <br>
    <div class="container">
        <a href="https://alexa-skills.amazon.co.uk/apis/custom/skills/amzn1.ask.skill.6df2a131-f1f3-4b18-8edc-752a0e583512/launch">
            <img border="0" alt="Launch with Amazon"
                    src="https://m.media-amazon.com/images/G/01/mobile-apps/dex/avs/docs/ux/branding/button1._TTH_.png"
                    width="76" height="76"/>
        </a>
    </div>
    <div class="bmc">
        <a href="https://www.buymeacoffee.com/andrewmcglynn">
            <img src="https://myzappi-site.s3.eu-west-1.amazonaws.com/bmc_qr.png" width="100" height="100" alt="Help keep the servers running">
        </a>
    </div>
</div>