<div class="tile">
    <h1>Energy Cost</h1>
    <h2>{{costOrCredit}} for today: {{ energyCost }}
        <button type="button" [disabled]="isReadingEnergyCost" class="confirmButton" (click)="readEnergyCost()"
            id="refreshCostButton">
            <img class="iconButtonImage" src="assets/images/sync.png" alt="Refresh">
        </button>
    </h2>
    <br>
    <div>
        <app-quote-carousel>
            <ng-template #carouselItem>
                "Alexa, ask my charger for an energy cost"
            </ng-template>
            <ng-template #carouselItem>
                "Alexa, ask my charger for an energy cost for yesterday"
            </ng-template>
          </app-quote-carousel>
    </div>
</div>
