<div class="action-buttons-container">
    <button class="toggleButton" [class.selected]="isModeActive('ECO_PLUS')" (click)="changeMode('ECO_PLUS')">
        Eco+
    </button>
    <button class="toggleButton" [class.selected]="isModeActive('ECO')" (click)="changeMode('ECO')">
        Eco
    </button>
    <button class="toggleButton" [class.selected]="isModeActive('FAST')" (click)="changeMode('FAST')">
        Fast
    </button>
    <button class="toggleButton" [class.selected]="isModeActive('STOP')" (click)="changeMode('STOP')">
        Stop
    </button>
</div>   